.contenido
	margin-bottom: 40px
	justify-content: space-evenly
	contenedor()
	flex-wrap: wrap;

.caja
	max-width: 430px
	caja-sombra()
	&__contenido
		min-height: 280px
		padding: 20px
		background-color: color-claro
		span
			color: color-secundario
            titulos(Fuente2)
		h3 
			font-weight: normal
			titulos(Fuente2)

.caja-noticia
	margin-top: 55px
	max-width: 430px
	caja-sombra()
	&__contenido
		min-height: 250px
		padding: 20px
		background-color: color-claro
		span
			color: color-secundario
            titulos(Fuente2)
		h3 
			font-weight: normal
			titulos(Fuente2)